/*custom font*/
/*@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 400;
  src: local('Open Sans Regular'), local('OpenSans-Regular'), url(https://fonts.gstatic.com/s/opensans/v18/mem8YaGs126MiZpBA-UFVZ0e.ttf) format('truetype');
}*/

select.form-control.renderedField, select.form-control.renderedField:focus {
    width: 85%;
    background: #3F3D56;
    border: 2px solid #fff;
    color: #fff;
    height: 50px;
    outline-color: #67d5bf !important;
}

select.form-control.renderedField option {
    font-size: 28px;
}

/*basic reset*/
* {
  margin: 0;
  padding: 0;
}
html {
  height: 100%;
  background: #0e0e0e;
}
body {
  /*font-family: "Open Sans", arial, verdana;*/
 /* overflow: hidden;*/
}
/*form styles*/
#msform {
  width: 100%;
  margin: 0 auto;
  text-align: center;
  position: relative;
}
#msform fieldset {
    background: #3F3D56;
    border: 0 none;
    border-radius: 3px;
    /* box-shadow: 0 0 15px 1px rgba(0, 0, 0, 0.4); */
    padding: 20px 30px;
    box-sizing: border-box;
    width: 80%;
    margin: 10%;
    position: absolute;
    transform: initial !important;
}
/*Hide all except first fieldset*/
#msform fieldset:not(:first-of-type) {
  display: none;
}
/*inputs*/
#msform input,
#msform textarea {
  padding: 15px;
  border: 1px solid #ccc;
  border-radius: 3px;
  margin-bottom: 10px;
  width: 100%;
  box-sizing: border-box;
  font-family: montserrat;
  color: #2C3E50;
  font-size: 13px;
}
/*buttons*/
#msform .action-button {
    width: 40px;
    background: #67d5bf;
    font-weight: bold;
    color: white;
    border: 0 none;
    border-radius: 1px;
    cursor: pointer;
    padding: 10px 5px;
    margin: 30px 0;
    font-size: 24px;
    border: 2px solid #fff;
    float: left;
}
#msform .action-button.previous {
  	background: #FF6584;
  	float: left;
    margin-right: 10px;
}
/*#msform .action-button:hover,*/
#msform .action-button:focus {
  /*box-shadow: 0 0 0 2px white, 0 0 0 3px #67d5bf;*/
  background: #FF6584;
}
.style1 {
    text-align: left;
}
/*headings*/
.fs-title {
  font-size: 16px;
  text-transform: uppercase;
  color: #FF6584;
  margin-bottom: 10px;
  position: absolute;
  top: -100px;
}
.fs-subtitle {
  font-weight: normal;
  font-size: 16px;
  color: #fff;
  margin-bottom: 30px;
  font-family: 'Merriweather', sans-serif;
  letter-spacing: 0.3px;
  display: block;
  text-align: left;
}
/*progressbar*/
#progressbar {
  margin-bottom: 30px;
  overflow: hidden;
  /*CSS counters to number the steps*/
  counter-reset: step;
}
#progressbar li {
  list-style-type: none;
  color: white;
  text-transform: uppercase;
  font-size: 9px;
  width: 10%;
  float: left;
  position: relative;
}
#progressbar li:before {
  content: counter(step);
  counter-increment: step;
  width: 20px;
  line-height: 20px;
  display: block;
  font-size: 10px;
  color: #333;
  background: white;
  border-radius: 3px;
  margin: 0 auto 5px auto;
}
/*progressbar connectors*/
#progressbar li:after {
  content: '';
  width: 100%;
  height: 2px;
  background: white;
  position: absolute;
  left: -50%;
  top: 9px;
  z-index: -1;
  /*put it behind the numbers*/
}
#progressbar li:first-child:after {
  /*connector not needed before the first step*/
  content: none;
}
/*marking active/completed steps green*/
/*The number of the step and the connector before it = green*/
#progressbar li.active:before,
#progressbar li.active:after {
  background: #67d5bf;
  color: white;
}
.help-block {
  font-size: 0.8em;
  color: #7c7c7c;
  text-align: left;
  margin-bottom: 0.5em;
}

.container-row {
    display: inline-flex;
    width: 100%;
}

.formBox {
    width: 50%;
    display: inline-block;
    background: #3F3D56;
    min-height: 50vh;
}

.previewBox {
    width: 50%;
    display: inline-block;
    background: #fff;
    /*n-height: 83vh;*/
}

.radio {
    float: left;
    width: 30%;
    text-align: left;
}

.radio input[type="radio"] {
    display: inline-block;
    margin: 0px 8px 0 0;
    width: initial !important;
}

.radio label {
    display: inline-block;
    color: #fff;
    font-size: 16px;
    font-family: 'Montserrat', sans-serif;
}

@media only screen and (max-width: 767px) {
    #msform{
    	width: 100%;
    }
    #msform fieldset {
    	width: 100%;
        margin: 25% 0 0;
    }
    .container-row {
    	display: inline-block;
    }
	.formBox {
        width: 100% !important;
        min-height: 70vh !important;
    }
    
    .previewBox {
        width: 100% !important;
        min-height: 30vh !important;
    }
}